body {
  font-family: 'Nunito', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 15px;
}

.subContainer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-evenly;
  gap: 2rem;
}

.inputContainer {
  width: 100%;
}

h3 {
  margin-top: 0;
}

.jsonInput,
.schemaInput {
  width: 95%;
  height: 50vh;
  padding: 10px;
  font-family: monospace;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
}

.validationResult {
  margin-top: 10px;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
}

.validationResult.success {
  background-color: #c3e6cb;
  color: #155724;
}

.validationResult.error {
  background-color: #f8d7da;
  color: #721c24;
}

.generatContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.headerBackground {
  background-color: #c3e6cb;
  color: #155724;
}

.logo {
  height: 20px;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.checkBoxGroup {
  display: flex;
  gap: 2rem;
}

.checkBoxLabel {
  padding-left: 5px;
}

.subHeaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.textAreaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.dropzone {
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 20px;
  cursor: pointer;
  height: 150px;
  width: auto;
  border: 2px dashed cyan;
  outline: none;
}

.dropzoneReject {
  border: 2px dashed red;
}

.dropzoneAccept {
  border: 2px dashed green;
}

.conversionDropDown {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
