body {
  font-family: 'Nunito', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 15px;
}

.subContainer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-evenly;
  gap: 2rem;
}

.inputContainer {
  width: 100%;
}

h3 {
  margin-top: 0;
}

.jsonInput,
.schemaInput {
  width: 95%;
  height: 50vh;
  padding: 10px;
  font-family: monospace;
}

.button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  height: 2rem;
  margin: 1rem 1rem;
}

.validationResult {
  margin-top: 10px;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
}

.validationResult.success {
  background-color: #c3e6cb;
  color: #155724;
}

.validationResult.error {
  background-color: #f8d7da;
  color: #721c24;
}

.generatContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.headerBackground {
  background-color: #c3e6cb;
  color: #155724;
}

.logo {
  height: 20px;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.checkBoxGroup {
  display: flex;
  gap: 2rem;
}

.checkBoxLabel {
  padding-left: 5px;
}

.subHeaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.textAreaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.dropzone {
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 20px;
  cursor: pointer;
  height: 150px;
  width: auto;
  border: 2px dashed cyan;
  outline: none;
}

.dropzoneReject {
  border: 2px dashed red;
}

.dropzoneAccept {
  border: 2px dashed green;
}

.conversionDropDown {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #f5f5f5;
}

.table td input[type='text'] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
}

.table td button {
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.addButtonBackground {
  background-color: #4caf50;
}

.removeButtonBackground {
  background-color: #a40f26;
}

/* .mappingContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
} */
.mappingContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.column {
  display: flex;
  /* flex-direction: column; */
  max-height: 300px;
  overflow: auto;
  font-size: 14px;
}

.addMapping {
  font-size: 14px;
  max-height: 300px;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: self-start;
}

.mappingContainer > div {
  flex: 1;
  margin-right: 10px;
}
.steps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border: 2px solid gray;
  background-color: white;
  margin: 1rem;
}

.stepper {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 20px;
}

.step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
}

.stepContent {
  margin-bottom: 20px;
  /* height: 40vh; */
  width: 100%;
  margin: 50px;
}

.step-button-container {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.step-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #cc0200;
  color: #ffffff;
  cursor: pointer;
}

.conversion-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.prepared-container {
  border: 2px solid #cc0200;
  /* height: 90vh; */
  background-color: white;
}

.textareaContainer {
  flex: 1;
  display: flex;
}

.textarea {
  flex: 1;
  resize: vertical;
  height: 300px;
}

.parentContainer {
  display: flex;
  align-items: stretch; /* Adjust the alignment based on your needs */
}

.firstPortion {
  flex: 1;
  /* Apply additional styles for the first portion */
}

.secondPortion {
  flex: 1;
  /* Apply additional styles for the second portion */
}

.marginTop {
  margin-top: 10px;
}

.table-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.template-delete-button {
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  background-color: #a40f26;
  margin: 10px 20px;
  height: 30px;
}
